@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
/*.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    background-color :#363430;
 } */

 #footer {
    margin: 0;
    left: 0;
    bottom: 0;
    color: white;
    background-color: #3b3838;
    letter-spacing: 0.5px;
}

footer p {
    margin-right: 20px;
    font-size: 15px;
}